/*
 * Sherlock Icons
 *
 * Sherlock
 * http://www.iconfinder.com/icondetails/6249/128/agent_detective_hat_icon
 * License: GPL
 * Designer Alessandro Rei - http://www.kde-look.org/usermanager/search.php?username=mentalrey
 *
 *
 * Magnify
 * http://www.iconfinder.com/icondetails/103857/64/find_glass_magnifying_search_icon
 * License: Free for commercial use
 * Designer Iconleak - http://iconleak.com/product/free-windows-icon-atrous/
 *
 *
 * Enter
 * By Font Lucida Grande Bold
 *
 *
*/

div#rex-navi-logout {
    margin-bottom: 0;
}

.sherlock,
.sherlock-finder,
#sherlock-watson,
#rex-navi-page-sherlock a {
    background-image: url(logo.png);
}
h1 .sherlock {
    padding-left: 46px;
    background-position: 0 50%;
    background-size: 36px 36px;
}
#rex-navi-page-sherlock a {
    background-position: 6em 50%;
    background-size: 24px 24px;
}


.sherlock-finder {
    clear: both;
    display: block;
    margin: 0 auto 36px auto;
    width: 40px;
    height: 30px;
    background-color: rgba(255, 255, 255, .2);
    background-position: 50% 50%;
    background-size: 36px 36px;
    border: 1px solid #E0E0E0;
    border-top: 0;
    -webkit-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    text-indent: -1000em;
    cursor: pointer;
}




#sherlock-finder {
    display: none;
    position: relative;
    clear: both;
    float: left;
    height: 216px;
    width: 100%;
    background-color: #fff;
    overflow-x: scroll;
    overflow-y: hidden !important;
    -webkit-box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, .5);
    box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, .5);
}
#sherlock-finder .column {
    float: left !important;
    display: block;
    min-width: 180px;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    margin: 0;
    padding: 1px 0;
    overflow-y: scroll;
    overflow-x: hidden;

    /* Safari Scrollbar Bug */
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
#sherlock-finder [data-remote],
#sherlock-finder .sherlock-entry {
    position: relative;
    display: block;
    padding: 3px 20px 3px 10px;
    white-space: nowrap;
    cursor: pointer;
}
#sherlock-finder .column [data-remote]:after,
#sherlock-finder .column .sherlock-entry:after {
    content: '';
    position: absolute;
    right: 5px;
    top: 0;

    display: block;
    width: 10px;
    height: 100%;
    margin-left: 10px;
    background-image: url(triangle.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
#sherlock-finder .column [data-remote].selected,
#sherlock-finder .column .sherlock-entry.selected {
    background-color: #DFE9E9;
}
#sherlock-finder .column:nth-last-child(2) [data-remote].selected,
#sherlock-finder .column:nth-last-child(2) [data-remote].selected a,
#sherlock-finder .column:nth-last-child(2) .sherlock-entry.selected,
#sherlock-finder .column:nth-last-child(2) .sherlock-entry.selected a {
    background-color: #3C9ED0;
    color: #fff;
}
#sherlock-finder .column [data-remote] a,
#sherlock-finder .column a.sherlock-link {
    margin: 0 10px;
    font-size: 11px;
}


#sherlock-finder .column .sherlock-view {
    display: block;
    max-width: 400px;
    min-height: 200px;
    padding: 0 10px;
}

#sherlock-finder .column dl {
    clear: both;
    display: block;
}
#sherlock-finder .column dt {
    clear: both;
    display: block;
    padding: 2px 0;
    color: #808080;
    font-size: 11px;
    text-align: left;
}
#sherlock-finder .column dd {
    display: block;
    padding: 2px 0 2px 1em;
    word-wrap: break-word;
}
#sherlock-finder .column dd pre {
    font-size: 12px;
}
